compile_docker_comand.txt
compile_docker_comand.txt
find_gropu_id.py
news_api.py
run_docker_file.txt
___deepseek_bot_copy.py
file.txt
finding_message_thread_id.py
old_one.py
parsing.py
re_test_with_cloude.py
tesss.py
test_cloude_api.py
for_starting_docker.txt
this_is_working_correct_copy_deepseek_bot_copy.py
sentence_sampling_from_mistakes.py



